<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Study Spaces</title>
    <style>
        .btn-back {
            background: rgba(94, 94, 94, 0.6);
            color: #b1b1b5;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }

        .btn-back:hover {
            background: rgba(149, 147, 147, 0.6);
        }
    </style>
</head>

<body>

<header layout:fragment="header" class="text-center">
    <h1>Study Spaces</h1>
</header>

<div layout:fragment="main">

    <!-- ROOMS -->
    <h2 class="mt-4">📘 Rooms</h2>

    <table class="table table-dark table-striped table-bordered text-center align-middle mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Opening</th>
            <th>Closing</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.studySpaceId}"></td>
            <td th:text="${room.name}"></td>
            <td th:text="${room.capacity}"></td>
            <td th:text="${room.openingTime}"></td>
            <td th:text="${room.closingTime}"></td>
        </tr>
        </tbody>
    </table>

    <!-- SEATS -->
    <h2 class="mt-4">🪑 Seats</h2>

    <table class="table table-dark table-striped table-bordered text-center align-middle mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Opening</th>
            <th>Closing</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="seat : ${seats}">
            <td th:text="${seat.studySpaceId}"></td>
            <td th:text="${seat.name}"></td>
            <td th:text="${seat.openingTime}"></td>
            <td th:text="${seat.closingTime}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/anonymous/menu">
        <button class="btn-back" type="button">← Back</button>
    </a>

</div>

</body>
</html>
