<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Profile</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Study Rooms <small>/ Profile</small></h1>
</header>

<section layout:fragment="main">

    <div>
        <ul>
            <li>Email <span th:text="${me.emailAddress()}"></span></li>
            <li>Type <span  th:text="${me.type()}"></span></li>
        </ul>

        <hr>

        <ul>
            <li><a href="/my-reservations">My Reservations</a></li>
            <li><a th:href="@{/showstudyspaces(from='profile')}">View Study Spaces</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

    <hr>

    <h3>Edit Profile</h3>

    <ul>
        <li><a th:href="@{/profile/change-email}">Change Email</a></li>
        <li><a th:href="@{/profile/change-phone}">Change Phone</a></li>
        <li><a th:href="@{/profile/change-password}">Change Password</a></li>
    </ul>


    <div>
        <a th:if="${from} == 'homepage'" th:href="@{/}">
            <button>Back to Homepage</button>
        </a>

        <a th:if="${from} == 'profile'" th:href="@{/profile}">
            <button>Back to Profile</button>
        </a>

        <a th:if="${from} == null" th:href="@{/}">
            <button>Back</button>
        </a>
    </div>


</section>

</body>
</html>