<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Make Reservation</title>
</head>
<body>

<h2>Make a Reservation</h2>

<form th:action="@{'/reserve/' + ${studySpaceId}}" method="post">

    <label>Date:</label>
    <input type="date" name="date" required />

    <br><br>

    <label>Start Time:</label>
    <input type="time" name="start" required />

    <br><br>

    <label>End Time:</label>
    <input type="time" name="end" required />

    <br><br>

    <button type="submit">Reserve</button>
</form>

</body>
</html>
