<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">

<header layout:fragment="header" class="text-center">
    <h1>Study Spaces</h1>
    <style>
        .btn-back {
            background: rgba(94, 94, 94, 0.6);
            color: #b1b1b5;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }

        .btn-back:hover {
            background: rgba(149, 147, 147, 0.6);
        }
    </style>
</header>

<div layout:fragment="main">

    <!-- ROOMS -->
    <h2 class="mt-4">📘 Rooms</h2>

    <table class="table table-dark table-striped table-bordered text-center align-middle mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Available</th>
            <th>Opening</th>
            <th>Closing</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.studySpaceId}"></td>

            <td>
                <a class="text-info fw-bold"
                   th:href="@{/availability/{id}(id=${room.studySpaceId})}"
                   th:text="${room.name}"></a>
            </td>

            <td th:text="${room.capacity}"></td>
            <td th:text="${room.available}"></td>
            <td th:text="${room.openingTime}"></td>
            <td th:text="${room.closingTime}"></td>

        </tr>
        </tbody>
    </table>


    <!-- SEATS -->
    <h2 class="mt-4">🪑 Seats</h2>

    <table class="table table-dark table-striped table-bordered text-center align-middle mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Available</th>
            <th>Opening</th>
            <th>Closing</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="seat : ${seats}">
            <td th:text="${seat.studySpaceId}"></td>

            <td>
                <a class="text-info fw-bold"
                   th:href="@{/availability/{id}(id=${seat.studySpaceId})}"
                   th:text="${seat.name}"></a>
            </td>

            <td th:text="${seat.available}"></td>
            <td th:text="${seat.openingTime}"></td>
            <td th:text="${seat.closingTime}"></td>

        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/profile}">
            <button class="btn-back">← Back</button>
        </a>
    </div>

</div>
</html>