<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Staff Dashboard</title>
    <style>
        body { font-family: Arial; padding: 40px; }
        .btn { padding: 10px 20px; background: #3c6ef1; color: white; text-decoration: none; border-radius: 5px; display: inline-block; margin: 10px 0; }
        .btn:hover { background: #2448b0; }
    </style>
</head>

<body>

<h1>Library Staff Dashboard</h1>
<p>Welcome, <span th:text="${username}"></span>!</p>

<hr>

<a th:href="@{/staff/reservations}" class="btn">View All Reservations</a>
<br>
<a th:href="@{/staff/studyspaces}" class="btn">Manage Study Spaces</a>
<br>
<a th:href="@{/staff/statistics}" class="btn">View Statistics</a>


<hr>
<form th:action="@{/logout}" method="post" style="display:inline;">
    <button class="btn">Logout</button>
</form>


</body>
</html>
